<!DOCTYPE html>
<html lang="fr" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css"><!-- Note: Grâce à notre serveur Express, le raccourci /lib pointe en fait vers /node_modules :) -->
  <link rel="stylesheet" href="css/style.css">

</head>
<body ng-app="ContactsApp" ng-controller="MainCtrl as main" ng-cloak><!-- Initialisation de l'app AngularJS et du controller principal de cette app -->

  <!-- Barre de navigation -->
  <nav class="navbar navbar-default">
    <div class="container">
      <a class="navbar-brand" href="#">Contacts App</a>
      <div class="navbar-form navbar-right">
        <button class="btn btn-md btn-success" data-toggle="modal" data-target="#formModal"><!-- Ouverture de la popup #formModal plus bas, via Bootstrap -->
          <i class="fa fa-plus-circle"></i> Ajouter
        </button>
      </div>
    </div>
  </nav>
  <!-- Fin Barre de navigation -->

  <main class="container">

    <h1 class="text-center">Bienvenue sur l'application Contacts</h1>
    <hr>
    
    <div class="row is-flex" id="contacts-list">

      <!-- Fiche contact : que l'on répète avec ng-repeat autant de fois qu'il y a d'objets dans notre tableau "main.contacts" -->
      <div class="thumbnail contact" ng-repeat="contact in main.contacts | orderBy : '_id' : true ">
        <h4 class="text-center">{{contact.firstname}} {{contact.lastname | uppercase}}</h4>
        <img ng-show="contact.photo" ng-src="{{contact.photo}}" alt="{{contact.firstname}} {{contact.lastname}}">
        <div class="caption">
          <p class="text-center"><em>{{contact.city}}, {{contact.state}}</em></p>
          <p class="socials">
            <span ng-show="contact.phone"><i class="fa fa-phone"></i> {{contact.phone}}</span>
            <span ng-show="contact.twitter"><i class="fa fa-twitter"></i> {{contact.twitter}}</span>
            <span><i class="fa fa-envelope"></i> {{contact.email}}</span>
          </p>
          <hr>
          <p class="text-center">
            <!-- Ce bouton "Modifier" assigne d'abord la variable main.edit avec l'information de ce contact là, et ouvre la popup #formModal-->
            <a class="btn btn-default btn-xs" ng-click="main.edit = contact" data-toggle="modal" data-target="#formModal">
              <i class="fa fa-pencil"></i> Edit
            </a>
            <!-- Ce bouton passe cet objet contact à supprimer à la méthode main.remove() -->
            <a class="btn btn-default btn-xs" ng-click="main.remove(contact)">
              <i class="fa fa-trash"></i> Remove
            </a>
          </p>
        </div>
      </div>
      <!-- Fin Fiche contact -->

    </div>

  </main>

  <!-- Modal contenant le formulaire d'ajout/édition -->
  <div class="modal fade" id="formModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <form ng-submit="main.sendForm()">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Formulaire de contact</h4>
          </div>
          <div class="modal-body">
            
            <!-- champs -->
            <div class="form-group">
              <label for="firstname">Prénom*</label>
              <input type="text" class="form-control" id="firstname" placeholder="John" required ng-model="main.edit.firstname">
            </div>

            <div class="form-group">
              <label for="lastname">Nom*</label>
              <input type="text" class="form-control" id="lastname" placeholder="Doe" required ng-model="main.edit.lastname">
            </div>

            <div class="form-group">
              <label for="email">Adresse email*</label>
              <input type="email" class="form-control" id="email" placeholder="example@domain.tld" required ng-model="main.edit.email">
            </div>

            <div class="row">
              <div class="col-md-6 form-group">
                <label for="city">Ville*</label>
                <input type="text" class="form-control" id="city" placeholder="Paris" required ng-model="main.edit.city">
              </div>

              <div class="col-md-6 form-group">
                <label for="state">Région*</label>
                <input type="text" class="form-control" id="state" placeholder="Ile-de-France" required ng-model="main.edit.state">
              </div>
            </div>
            
            <div class="form-group">
              <label for="twitter">Twitter</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
                <input type="text" class="form-control" id="twitter" placeholder="@username" ng-model="main.edit.twitter">
              </div>
            </div>
            
            <div class="form-group">
              <label for="phone">Téléphone mobile</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                <input type="tel" class="form-control" id="phone" placeholder="+" ng-model="main.edit.phone">
              </div>
            </div>

            <div class="form-group">
              <label for="photo">Avatar URL</label>
              <input type="url" class="form-control" id="photo" placeholder="http://" ng-model="main.edit.photo">
            </div>

            <input type="hidden" value="" ng-model="main.edit._id">
            <!-- fin des champs -->

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-primary">Envoyer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Fin de la modal -->
  
  <script src="/lib/angular/angular.js"></script><!-- Note: Grâce à notre serveur Express, le raccourci /lib pointe en fait vers /node_modules :) -->
  <script src="/lib/jquery/dist/jquery.js"></script><!-- Note: Grâce à notre serveur Express, le raccourci /lib pointe en fait vers /node_modules :) -->
  <script src="/lib/bootstrap/dist/js/bootstrap.js"></script><!-- Note: Grâce à notre serveur Express, le raccourci /lib pointe en fait vers /node_modules :) -->
  
  <!-- Notre fichier JS principal, qui gère la logique applicative  -->
  <script src="js/app.js"></script>
  
</body>
</html>